
.navbar {
    background-color: hsl(238, 34%, 48%);
    padding: 10px;
    color: #d0d6e1;
}

.navbar-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navbar-logo {
    font-size: 24px;
    font-weight: bold;
}

.navbar-menu {
    list-style: none;
    display: flex;
}

.navbar-item {
    margin: 0 10px;
}

.navbar-links {
    color: rgb(10, 6, 6);
    font-size: 20px;
    text-decoration: none;
    font-style:normal;
}

.navbar-links:hover {
    color: hsl(288, 11%, 82%);
}

.navbar-user {
    cursor: pointer;
    position: relative;
}

.navbar-user span {
    color: #77db0c;
    font-size: 18px;
    padding: 10px;
    border-radius: 4px;
    transition: background-color 0.3s ease;
}

.navbar-user:hover span {
    background-color: #cfd3db;
}

.navbar-user-menu {
    display: none;
    position: absolute;
    top: 100%;
    right: 0;
    background-color: #fff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 4px;
    overflow: hidden;
    z-index: 1000;
}

.navbar-user-menu a,
.navbar-user-menu button {
    display: block;
    background: none;
    border: none;
    padding: 10px 15px;
    width: 100%;
    text-align: left;
    cursor: pointer;
    font-size: 16px;
    color: hsl(195, 87%, 50%);
    text-decoration: none;
    transition: background-color 0.3s ease;
}

.navbar-user-menu a:hover,
.navbar-user-menu button:hover {
    background-color: #f1f1f1;
}

.navbar-user:hover .navbar-user-menu {
    display: block;
}

.dropdown-division {
    height: 1px;
    margin: 0;
    background-color: #ddd;
}
